**/build/
**/install/
**/log/

.vscode/
/home/hrc/Desktop/projects/locobot/thor/MASt3R-SLAM/checkpoints/

.github/

thor/ros2_ws/src/stretch3_ros_nodes/stretch3_ros_nodes/__pycache__/*

thor/quick_start/__pycache__/
thor/quick_start/logs/
thor/quick_start/launch_1345_gui.py

